.floor {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.floor-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

.beans-logo {
    width: 200px;
    height: 29.3px;
}