.header {
    height: 80px;
    width: 100%;
}

.header-options {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-left: 76px;
    margin-top: 15;
}