.header {
    height: 80px;
    width: 100%;

    button {
        display: flex;
        align-items: flex-end;
        background: none;
        border: none;
        color: inherit;
        font: inherit;
        cursor: pointer;
        padding: 0;
        text-decoration: none;
        color: white;
        height: 35px;
    }

    .header-options {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        margin-left: 76px;
        margin-top: 15;

        img {
            align-self: flex-start;
            height: 29px;
        }
    }
}