.house-header {
  height: 50vh;
  margin-left: -10px;
  background-image: url('../imgs/main-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.house-header__inner {
  height: calc(100% - 80px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 40px;
  }
  .text {
    margin-top: 10px;
    width: 480px;
    font-size: 24px;
    word-wrap: break-word;
    text-align: center;
  }
  button[type="button"] {
    margin-top: 15px;
    height: 30px;
    width: 120px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
  }
}

.about-us {
  color: black;
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 24px;
  }
  .text {
    margin-top: 10px;
    font-size: 14px;
    width: 589px;
    word-wrap: break-word;
    text-align: center;
  }
}

.our-best {
  background-image: url('../imgs/goldnoise-bg.svg');
  height: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .card-group {
    display: flex;
  }
  .card-group__item {
    background-color: rgba(255, 255, 255, 0.65);
    width: 220px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    al
    img {
      width: 151px;
      height: 130px;
    }
  }
}